.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    height: 100vh;
}

.content-box {
    border: 1px solid white;
    color: white;
    text-align: center;
    width: 250px;
}

.valor {
    text-align: center;
}